/* /*Estilo del HTML */

/* Importo una fuente de googlefonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap');

/* Importo al proyecto */
@font-face { 
    font-family: "JetBrains"; 
    src: url("JetBrainsMono.ttf"); 
} 

/* reseteo de la web con el selector universal*/
*{
    margin:0;
    padding: 0;     
}

body {
    background: linear-gradient(to bottom right, #cd7f38 0%, #000000 15%);
    min-height: 100%;    
}

.sp-family-roboto {
    font-family: 'roboto' !important;
}

.sp-family-jetbrains {
    font-family: 'jetbrains' !important;
}    

.sp-color-cont{
    color: #f0c080 !important;
}

.sp-color-head{
    color: #84c3eb !important;
}

td, th{
    color: #f0c080 !important;
}

.sp-item-link:hover {
    color: #ffffff !important;
    font-weight: bolder;
    text-decoration: underline;
}

.sp-background-image {
    background-image: url(../image/estrellas.png); 
}

.sp-background-luna {
    background-image: url(../image/suelo.png); 
}

/* ================================================================= */
/* ========================= Desktop / Laptop ====================== */
/* ================================================================= */
/*Desktop/laptop [769px -> xxxxpx]*/

@media (min-width: 769px){
    

    iframe{
        margin-bottom: 15px;
        margin-top: 15px;
        border: solid 1px rgb(75, 75, 75);
        width: 650px;
        height: 450px;        
    }

    .sp-img-sistemaSolar{
        width: 650px;
        height: 450px;     
    }

    p{
        font-family: 'jetbrains';
        color: #f7d4a5;
        font-size: 1rem;
    }
    
    .ufo{
        position: absolute;
        width: 100%;  
        top: 80px;                    
    }

        .ufo-animation{
            position: relative;
            width: 100px;
            height: 75px;
            right: 100px;
            animation-name: vuelo;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in;
            animation-duration: 10s;
            animation-delay: 2s;
            
        }

}


/* ================================================================= */
/* ============================ Tablet ============================= */
/* ================================================================= */
/*Tablet [427px -> 768px]*/

@media (max-width: 768px){
    iframe{
        margin-bottom: 15px;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        border: solid 1px rgb(75, 75, 75);
        width: 350px;
        height: 250px;        
    }

    .sp-img-sistemaSolar{
        width: 350px;
        height: 250px;  
    }

    p{
        font-family: 'jetbrains';
        color: #f7d4a5;
        font-size: 0.8rem;
    }
    
    .ufo{
        display: none;                        
    }

}






/* ================================================================= */
/* ============================ Mobile ============================= */
/* ================================================================= */
/*smartphones [xxxpx -> 426px]*/

@media (max-width: 426px){

    iframe{
        margin-bottom: 15px;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        border: solid 1px rgb(75, 75, 75);
        width: 270px;
        height: 200px;       
    }
    .sp-img-sistemaSolar{
        width: 270px;
        height: 200px;  
    }

    .ufo{
        display: none;                        
    }

    .main__div__3__img{
        display: none;
    }

}






/* ================================================================= */
/* ======================= Animaciones ============================= */
/* ================================================================= */

/* 
@keyframes despegue {
    2%    { transform: rotate(  5deg); display: block; }
    4%    { transform: rotate(  0deg); display: i;}
    6%    { transform: rotate( -5deg); display: absolute;}
    8%    { transform: rotate(  0deg); display: absolute;}
    10%   { transform: rotate(  5deg); display: absolute;}
    12%   { transform: rotate(  0deg); display: absolute;}
    14%   { transform: rotate( -5deg); }
    16%   { transform: rotate(  0deg); }
    18%   { transform: rotate(  5deg); }
    20%   { transform: rotate(  5deg); }
    22%   { transform: rotate(  0deg); }
    24%   { transform: rotate( -5deg); }
    26%   { transform: rotate(  0deg); }
    28%   { transform: rotate(  5deg); }
    30%   { transform: rotate(  0deg); }
    32%   { transform: rotate( -5deg); }
    34%   { transform: rotate(  0deg); }        
    100%  { transform: rotate(  0deg); }   
}
*/
@keyframes vuelo {
    2%    { left:-100px; }
    8%    { left: 50px;}
    10%   { transform: rotate( -5deg); }
    12%   { transform: rotate(  0deg); }
    14%   { transform: rotate(  5deg); }
    16%   { transform: rotate(  0deg); }
    18%   { transform: rotate( -5deg); }
    20%   { transform: rotate(  0deg); }
    22%   { transform: rotate(  5deg); }
    24%   { transform: rotate(  0deg); }
    26%   { width:75px ; height: 50px; }    
    30%   { width:50px ; height: 25px; }
    100%  { width:0px ; height: 0px; }    
}

