/*MAPS */
$fuentes: ( /*Declaramos nuestro mapa*/
        header: #84c3eb,
        contenido:  #f0c080,
        body-background:  #000000,        
        footer-color-text:  #000000,
        footer-background:  #bbb8b8
);
